<md-dialog aria-label="Mango (Fruit)">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Empresas</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <h2>SELECIONE UMA EMPRESA PARA ASSOCIAR AO USUÁRIO</h2>

        <div ng-controller="CompanyController as vm" class="table-responsive-vertical md-whiteframe-z1">
          <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
          <md-toolbar class="md-table-toolbar md-default">
            <div class="md-toolbar-tools">
              <span>Empresas</span>
            </div>
          </md-toolbar>

          <!-- exact table from live demo -->
          <md-table-container>
            <table md-table class="table table-hover table-bordered" >
              <thead md-head>
                <tr md-row>
                  <th md-column>Logo</th>
                  <th md-column>ID</th>
                  <th md-column><span>Nome</span></th>
                  <th md-column><span>CNPJ</span></th>
                  <th md-column><span>Telefone</span></th>
                  <th md-column>Situação</th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row ng-repeat="item in vm.tableData" ng-click="select(item)">
                  <td md-cell><img layout-align="center" ng-src="http://localhost:3000/api/public/images/{{item._id}}" class="img-circle" /></td>
                  <td md-cell>{{item._id}}</td>
                  <td md-cell>
                    <span>{{item.name}}</span>
                  </td>
                  <td md-cell>
                    <span>{{item.cnpj}}</span>
                  </td>
                  <td md-cell>
                    <span>{{item.phone}}</span>
                  </td>
                  <td md-cell>
                    <md-switch ng-model="item.active" md-no-ink="true" ng-disabled="true">
                      {{ item.active ? 'Ativo' : 'Inativo'}}
                    </md-switch>
                  </td>
                </tr>
              </tbody>
            </table>
          </md-table-container>

          <md-table-pagination md-limit="query.limit" md-limit-options="[3]" md-page="query.page" md-total="{{vm.totalItems}}" md-page-select></md-table-pagination>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer(null)">
       Cancelar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
