<div class="table-responsive-vertical md-whiteframe-z1">
  <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Usuários</span>
    <div flex class="flex"></div>
    <md-button ng-click="new = {}" aria-label="insert_new">
          <md-icon class="material-icons">add</md-icon>
    </md-button>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table class="table table-hover table-bordered" >
      <thead md-head>
        <tr md-row>
          <th md-column>Foto</th>
          <th md-column>ID</th>
          <th md-column><span>Nome</span></th>
          <th md-column><span>Email</span></th>
          <th md-column><span>Empresa</span></th>
          <th md-column>Situação</th>
          <th md-column>Opções</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in vm.tableData">
          <td md-cell><img layout-align="center" user-photo="{{item._id}}" class="img-circle" /></td>
          <td md-cell>{{item._id}}</td>
          <td md-cell ng-click="edit($event, item, 'displayName')">
            <span>{{item.displayName}}</span>
          </td>
          <td md-cell ng-click="edit($event, item, 'email')">
            <span>{{item.email}}</span>
          </td>
          <td md-cell >
            <span>{{item.company.name}}</span>
            <md-button class="toolbar-button" aria-label="Insert Link" ng-click="showCompaniesDialog($event, item)">
              <i class="material-icons">{{item.company._id ? 'edit' : 'insert_link'}}</i>
            </md-button>
          </td>
          <td md-cell>
            <md-switch ng-model="item.active">
              {{ item.active ? 'Ativo' : 'Inativo'}}
            </md-switch>
          </td>
          <td md-cell>
            <md-button  class="toolbar-button" aria-label="Done" ng-click="save($event, item)" ng-show="vm.selected._id">
              <i class="material-icons">done</i>
            </md-button>
            <md-button  class="toolbar-button" aria-label="Cancel" ng-click="cancel($event)" ng-show="vm.selected._id">
              <i class="material-icons">close</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Delete" ng-click="delete(item)">
              <i class="material-icons">delete</i>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-show="new != null">
          <td md-cell><img layout-align="center" ng-src="assets/images/user.png" class="img-circle" /></td>
          <td md-cell><i style='color: #ccc;' class="material-icons">lock</i></td>
          <td md-cell>
            <md-input-container class="md-block">
              <label>Nome</label>
              <input ng-model="new.displayName">
            </md-input-container>
          </td>
          <td md-cell>
            <spa>{{item.email}}</span>
            <md-input-container class="md-block">
              <label>Email</label>
              <input ng-model="new.email">
            </md-input-container>
          </td>
          <td md-cell>
            <span>{{new.company.name}}</span>
            <md-button class="toolbar-button" aria-label="Insert Link" ng-click="showCompaniesDialog($event, new)">
              <i class="material-icons">{{new.company._id ? 'edit' : 'insert_link'}}</i>
            </md-button>
          </td>
          <td md-cell>
            <md-switch ng-model="item.active">
              {{ item.active ? 'Ativo' : 'Inativo'}}
            </md-switch>
          </td>
          <td md-cell>
            <md-button  class="toolbar-button" aria-label="Done" ng-click="save($event, new)">
              <i class="material-icons">done</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Close" ng-click="new = null">
              <i class="material-icons">close</i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.totalItems}}" md-on-paginate="vm.getItems()" md-page-select></md-table-pagination>
</div>
