<div class="table-responsive-vertical md-whiteframe-z1">
  <!-- TODO: Replace table to table component when https://github.com/angular/material/issues/796 will closed -->
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span>Empresas</span>
      <div flex class="flex"></div>
      <md-button ng-click="new = {}" aria-label="insert_new">
            <md-icon class="material-icons">add</md-icon>
      </md-button>
    </div>
  </md-toolbar>

  <!-- exact table from live demo -->
  <md-table-container>
    <table md-table class="table table-hover table-bordered" >
      <thead md-head>
        <tr md-row>
          <th md-column>Logo</th>
          <th md-column>ID</th>
          <th md-column><span>Nome</span></th>
          <th md-column><span>CNPJ</span></th>
          <th md-column><span>Telefone</span></th>
          <th md-column>Situação</th>
          <th md-column ng-show="vm.selected._id || new != null">Opções</th>
        </tr>
      </thead>
      <tbody md-body>
        <tr md-row ng-repeat="item in vm.tableData">
          <td md-cell><img layout-align="center" ng-src="http://localhost:3000/api/public/images/{{item._id}}" class="img-circle" /></td>
          <td md-cell>{{item._id}}</td>
          <td md-cell ng-click="edit($event, item, 'name')">
            <span>{{item.name}}</span>
          </td>
          <td md-cell ng-click="edit($event, item, 'cnpj')">
            <span>{{item.cnpj}}</span>
          </td>
          <td md-cell ng-click="edit($event, item, 'phone')">
            <span>{{item.phone}}</span>
          </td>
          <td md-cell>
            <md-switch ng-model="item.active" ng-change-"selectItem(item)">
              {{ item.active ? 'Ativo' : 'Inativo'}}
            </md-switch>
          </td>
          <td ng-show="vm.selected._id">
            <md-button  class="toolbar-button" aria-label="Done" ng-click="save(item)">
              <i class="material-icons">done</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Close" ng-click="cancel($event)">
              <i class="material-icons">close</i>
            </md-button>
          </td>
        </tr>
        <tr md-row ng-show="new != null">
          <td md-cell>
            <md-button class="toolbar-button" aria-label="Take a Pic">
              <i class="material-icons">add_a_photo</i>
            </md-button>
          </td>
          <td md-cell><i layout-align="center" style='color: #ccc;' class="material-icons">lock</i></td>
          <td md-cell>
            <md-input-container class="md-block">
              <label>Nome</label>
              <input ng-model="new.name">
            </md-input-container>
          </td>
          <td md-cell>
            <md-input-container class="md-block">
              <label>CNPJ</label>
              <input ng-model="new.cnpj" ui-br-cnpj-mask>
            </md-input-container>
          </td>
          <td md-cell>
            <md-input-container class="md-block">
              <label>Telefone</label>
              <input ng-model="new.phone" ui-br-phone-number>
            </md-input-container>
          </td>
          <td md-cell>
            <md-switch ng-model="new.active">
              {{ new.active ? 'Ativo' : 'Inativo'}}
            </md-switch>
          </td>
          <td>
            <md-button  class="toolbar-button" aria-label="Done" ng-click="save(new)">
              <i class="material-icons">done</i>
            </md-button>
            <md-button class="toolbar-button" aria-label="Close" ng-click="cancel($event)">
              <i class="material-icons">close</i>
            </md-button>
          </td>
        </tr>
      </tbody>
    </table>
  </md-table-container>

  <md-table-pagination md-limit="query.limit" md-limit-options="[5, 10, 15]" md-page="query.page" md-total="{{vm.totalItems}}" md-page-select></md-table-pagination>
</div>
