<!-- <div layout-gt-md="row">
  <panel-widget flex title="Site visitors" template="app/views/partials/visitors.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Warnings" template="app/views/partials/warnings.html" class="fixed-height-widget"></panel-widget>
</div>

<div layout-gt-md="row">
  <panel-widget flex title="Server Control Panel" template="app/views/partials/controlPanel.html" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Autocomplete Input" template="app/views/partials/autocomplete.html" options="true" class="fixed-height-widget"></panel-widget>
  <panel-widget flex title="Usage Stats" template="app/views/partials/usage.html" class="fixed-height-widget"></panel-widget>
</div> -->

<div layout-gt-md="row">
  <panel-widget flex title="Usuários" template="app/views/partials/performance.html" options="true"></panel-widget>
</div>
<div layout-gt-md="row">
  <panel-widget flex title="Percentual de Uso" template="app/views/partials/memory.html"></panel-widget>
  <panel-widget flex title="Tarefas" template="app/views/partials/checkboxes.html"></panel-widget>
</div>
